* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #313136;
    color: #f6f6f6;
    padding: 10px 5px;
}

header h1 {
    display: inline-block;
    margin: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero-section {
    background: url(https://images7.alphacoders.com/133/1330715.png) no-repeat center center/cover;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-text h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #d7caca;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.info-section {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background: #fff;
    height: 2px;
    width: 25px;
    margin: 4px 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #8985c5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(109, 108, 108, 0.889);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

form button {
    background: #2a2f8d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #1f236b;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header nav {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .active {
        display: block;
    }
}
